/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#mapid {
  width: 40vw;
  height: 40vw;
  border: mediumseagreen 1rem solid;
}
#weatherContent, #seasContent{
  width: 30vw;
  height: 20vw;
  border: 1rem solid mediumpurple;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}